{% extends "base.html" %}
{% block title %}All Students{% endblock %}

{% block content %}
    <h1>All Students</h1>
    <table>
        <thead>
            <tr>
                <th>RegNo</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>
                    <a href="{% url 'students:student_detail' student.id %}">
                        {{ student.regno }}
                    </a>
                </td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.phone }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
